body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
                 Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    margin: 0;
    background: #eee;
    color: #333;
}

#main {
    margin: 30px 10px;
    padding: 20px;
    border-radius: 8px;
    background: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

#subtitle {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    color: #555;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0 auto;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #444;
}

#tribute-info {
    max-width: 700px;
    margin: 40px auto;
}

#tribute-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

#tribute-info ul {
    max-width: 600px;
    margin: 0 auto 30px auto;
}

#tribute-info li {
    margin: 15px 0;
}

h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: normal;
}

#tribute-link {
    color: #477ca7;
}
